<div class="d-flex">
  <div class="me-auto p-2">
    <h1 >Qualification Details</h1>
  </div>
  <div class="p-2">
    <a role="button" class="btn baseBtn cancelBtn" (click)="cancel()">Cancel</a>
  </div>
  <div class="p-2" *ngIf="localQual">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveQual()">Save</a>
  </div>
  <div class="p-2" *ngIf="!localQual">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveQual()">Add</a>
  </div>
  <div *ngIf="localQual" class="p-2">
    <a role="button" class="btn baseBtn deleteBtn" (click)="deleteQual()">Delete</a>
  </div>
</div>

<div class="d-flex align-items-stretch">
  <div class="order-1 baseDetails">
    <table>
      <thead>
      <tr class="detailsLabel">
        <th>Edit details: </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="detailsLabel">
          <a>Designation: </a>
        </td>
        <td class="detailsInput" *ngIf="!localQual">
          <input type="text" minlength="1" id="qualDetDes" placeholder="Designation name" value="">
        </td>
        <td class="detailsInput" *ngIf="localQual">
          <input type="text" value="{{localQual?.designation}}" readonly>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="cBorder order-2"></div>
  <div class="order-3 baseEmployees">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr>
        <th class="empHeaderLabel">
          <a>Employees: </a>
        </th>
        <th class="empBtn">
          <div class="baseEmpBtn addBtn" *ngIf="localQual">
            <a (click)="openModal()">
              <span>Add</span>
            </a>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let employee of localQualDetails?.employees">
        <tr>
          <td class="empLabel" routerLink="/employees/edit/{{employee.id}}">
            {{employee.lastName + ", " + employee.firstName}}
          </td>
          <td class="empBtn">
            <div class="baseEmpBtn removeBtn">
              <a (click)="deleteEmp(employee)">
                <span>Remove</span>
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <h2 *ngIf="!localQual">First add the qualification to edit the employees!</h2>
  </div>
</div>
