th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #3f51b5 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3f51b5 !important;
}

.mat-raised-button {
  float: left;
  border: 1px solid;
  width: 50%;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.baseBtn {
  width: 50%;
}

.baseBtn:hover {
  opacity: 70%;
}

.saveBtn {
  background-color: green;
  color: white;
}

.cancelBtn {
  background-color: #5b5b5b;
  color: white;
}

