<h2 mat-dialog-title>Add Qualification to Employee</h2>

<mat-dialog-content *ngIf="selection !== undefined && dataSource !== undefined">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="OnChanged($event, row)"
                      [checked]="GetCheckedState(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef > Qualification </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="baseBtn saveBtn" (click)="save()">Save</button>
  <button class="baseBtn cancelBtn" (click)="close()">Close</button>
</mat-dialog-actions>
