<div class="centered">
  <h1 class="header baseText">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group formBlock">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Username" class="form-control centerBlock" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
    </div>
    <div class="form-group formBlock">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Password" class="form-control centerBlock" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="glow-on-hover">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
    </div>
  </form>
</div>

<br>
<p>Daten die als beispiel benutzt werden: </p>
<p>Username: "user"</p>
<p>Password: "test"</p>
