<div class="d-flex justify-content-between topHeader">
  <h1>All Employees</h1>
  <a routerLink="/employees/add" role="button" class="btn addBtn">Add</a>
</div>

<table class="table table-bordered table-hover">
  <thead class="tableHead">
    <tr>
      <th scope="col">Lastname</th>
      <th scope="col">Firstname</th>
      <th scope="col">Qualifications</th>
    </tr>
  </thead>

  <tbody>
  <ng-container *ngFor="let emp of employeesDetails">
    <tr class="tableRow" routerLink="/employees/edit/{{ emp.id }}">
      <td>{{ emp.lastName }}</td>
      <td>{{ emp.firstName }}</td>
      <td>{{ getQualificationString(emp.skillSet!) }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
