<div class="d-flex">
  <div class="me-auto p-2">
    <h1 >Employee Details</h1>
  </div>
  <div class="p-2">
    <a role="button" class="btn baseBtn cancelBtn" (click)="cancel()">Cancel</a>
  </div>
  <div class="p-2" *ngIf="localEmp">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveEmp()">Save</a>
  </div>
  <div class="p-2" *ngIf="!localEmp">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveEmp()">Add</a>
  </div>
  <div *ngIf="localEmp" class="p-2">
    <a role="button" class="btn baseBtn deleteBtn" (click)="deleteEmp()">Delete</a>
  </div>
</div>

<div class="d-flex align-items-stretch">
  <div class="order-1 baseDetails">
    <table>
      <thead>
      <tr class="detailsLabel">
        <th>Edit details: </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="detailsLabel">
          <a>Firstname: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="1" id="empDetCompFirstName" placeholder="Firstname" value="{{localEmp?.firstName}}">
        </td>
      </tr>
      <tr>
        <td class="detailsLabel">
          <a>Lastname: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="1" id="empDetCompLastName" placeholder="Lastname" value="{{localEmp?.lastName}}">
        </td>
      </tr>
      <tr>
        <td class="detailsLabel">
          <a>Street: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="1" id="empDetCompStreet" placeholder="Street" value="{{localEmp?.street}}">
        </td>
      </tr>
      <tr>
        <td class="detailsLabel">
          <a>Postcode: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="5" maxlength="5" id="empDetCompPostcode" placeholder="Postcode" value="{{localEmp?.postcode}}">
        </td>
      </tr>
      <tr>
        <td class="detailsLabel">
          <a>City: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="1" id="empDetCompCity" placeholder="City" value="{{localEmp?.city}}">
        </td>
      </tr>
      <tr>
        <td class="detailsLabel">
          <a>Phone: </a>
        </td>
        <td class="detailsInput">
          <input type="text" minlength="1" id="empDetCompPhone" placeholder="Phone" value="{{localEmp?.phone}}">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="cBorder order-2"></div>
  <div class="order-3 baseQualifications">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr>
        <th class="qualiHeaderLabel">
          <a>Qualifications: </a>
        </th>
        <th class="qualiBtn">
          <div class="baseQualiBtn addBtn" *ngIf="localEmp">
            <a (click)="openModal()">
              <span>Add</span>
            </a>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let designation of localEmpDetails?.skillSet">
        <tr>
          <td class="qualiLabel" routerLink="/qualifications/edit/{{designation.designation}}">
            {{designation.designation}}
          </td>
          <td class="qualiBtn">
            <div class="baseQualiBtn removeBtn">
              <a (click)="deleteQual(designation)">
                <span>Remove</span>
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <h2 *ngIf="!localEmp">First add the employee to edit the qualifications!</h2>
  </div>
</div>
