.topHeader {
  margin: 10px;
}

.cBorder {
  border: 1px solid black;
}

.baseBtn {
  align-self: center;
  width: 100px;
}

.baseBtn:hover {
  opacity: 70%;
}

.saveBtn {
  background-color: green;
  color: white;
}

.cancelBtn {
  background-color: #5b5b5b;
  color: white;
}

.deleteBtn {
  background-color: red;
  color: white;
}

.baseDetails {
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}

.baseDetails input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #4b4b4b;
  padding: 5px 0;
  background: transparent;
}

.baseDetails input:hover {
  background-color: #f2f2f2;
}

.baseDetails table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.detailsLabel {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

.detailsInput {
  width: 80%;
  text-align: right;
  padding-right: 10px;
}

input:invalid{
  color: red;
}

.baseQualifications {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.baseQualifications table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.qualiHeaderLabel {
  width: 80%;
  text-align: left;
}

.qualiLabel {
  width: 80%;
  text-align: left;
  vertical-align: center;
}

.qualiLabel:hover {
  cursor: pointer;
}

.qualiBtn {
  width: 10%;
  text-align: right;
}

.qualiBaseBtn {
  color: white;
}

.qualiAddBtn {
  background-color: deepskyblue;
}

.qualiBaseBtn:hover {
  opacity: 80%;
}

.baseQualiBtn {

}

.baseQualiBtn:hover {
  cursor: pointer;
}

.baseQualiBtn a{
  display: block;
  height: 100%;
  line-height: 30px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.baseQualiBtn a span{
  position: relative;
  z-index: 2;
}

.baseQualiBtn a:hover{
  color: #fff;
}

.baseQualiBtn a:hover:after{
  width: 100%;
}

.removeBtn a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.addBtn a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: blue;
  transition: all .35s;
}
