
.navbar-custom {
  background-color: #3d3d3d;
}

.nav-pills > .active > a {
  background-color: #4b4b4b;
}

.nav-pills > .active > a:hover {
  background-color: #5b5b5b;
}

li {
  margin-right: 2px;
  margin-left: 2px;
}

a {
  cursor: pointer;
}
