<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">

    <a class="navbar-brand mb-0 h1" routerLink="/">
      <img src="../../../assets/hitec_logo.png" height="50" alt="HiTec GmbH"/>
    </a>

      <ul class="navbar-nav nav nav-pills ml-auto">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="/qualifications">Qualifications</a>
        </li>
        <li class="nav-item active">
            <a *ngIf="isLoggedIn()" class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
            <a *ngIf="!isLoggedIn()" class="nav-link active" aria-current="page" (click)="login()">Login</a>
        </li>
      </ul>

  </div>
</nav>
