<div class="d-flex justify-content-between topHeader">
  <h1>All Qualifications</h1>
  <a routerLink="/qualifications/add" role="button" class="btn addBtn">Add</a>
</div>

<table class="table table-bordered table-hover">
  <thead class="tableHead">
  <tr>
    <th scope="col">Qualification</th>
  </tr>
  </thead>

  <tbody>
  <ng-container *ngFor="let qual of qualifications">
    <tr class="tableRow" routerLink="/qualifications/edit/{{ qual.designation }}">
      <td>{{ qual.designation }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
